---
import BackToTopButton from "../../components/page/BackToTopButton.astro";
import ClosePageHeader from "../../components/page/ClosePageHeader.astro";
import HeadSeo from "../../components/page/HeadSeo.astro";
import PageFooter from "../../components/page/PageFooter.astro";
import ProjectGroupsSection from "../../components/page/ProjectGroupsSection.astro";
import { computeLegacyBuildTimestamp } from "../../lib/build-timestamp";
import {
  BACK_TO_TOP_LABEL_BY_LANG,
  CLOSE_PAGE_LABEL_BY_LANG,
  LAST_UPDATED_LABEL_BY_LANG,
  SKIP_TO_MAIN_LABEL_BY_LANG,
} from "../../lib/page-labels";
import {
  buildOgImageUrl,
  buildPageAssetHrefs,
  PAGE_LAYOUT,
  ROOT_WORK_PROJECT_SCRIPT_PATHS,
  resolveRouteScriptPaths,
  UMAMI_WEBSITE_ID,
} from "../../lib/page-shared";
import { buildSchemaGraphJson } from "../../lib/seo";
import {
  buildAlternateLinks,
  buildOgLocaleAlternates,
  loadProjectPageContent,
  OG_LOCALE_BY_LANG,
  routeHref,
} from "../../lib/work-project-content";

const content = loadProjectPageContent("ar");
const buildTimestamp = computeLegacyBuildTimestamp("ar");
const lang = content.lang;

const canonicalUrl = `${content.site.baseUrl}/${content.route}`;
const ogImageUrl = buildOgImageUrl(content.site.baseUrl);
const schemaGraphJson = buildSchemaGraphJson({
  baseUrl: content.site.baseUrl,
  websiteName: content.site.websiteName,
  personName: content.site.personName,
  canonicalUrl,
  ogImageUrl,
  socialProfiles: content.site.socialProfiles,
});

const alternateLinks = buildAlternateLinks(
  content.site.baseUrl,
  content.pageRoutes,
);
const ogLocaleAlternates = buildOgLocaleAlternates(lang);
const homeHref = routeHref(content.route, content.homeRoute);
const pageAssets = buildPageAssetHrefs(content.route);
const scriptPaths = resolveRouteScriptPaths(
  content.route,
  ROOT_WORK_PROJECT_SCRIPT_PATHS,
);
---

<!doctype html>
<html lang={lang} dir={content.site.locale.dir}>
  <HeadSeo
    title={content.meta.title}
    description={content.meta.description}
    keywords={content.meta.keywords}
    author={content.site.locale.author}
    canonicalUrl={canonicalUrl}
    alternateLinks={alternateLinks}
    ogType="article"
    ogLocale={OG_LOCALE_BY_LANG[lang]}
    ogLocaleAlternates={ogLocaleAlternates}
    ogImageUrl={ogImageUrl}
    ogImageAlt={content.site.locale.ogImageAlt}
    twitterSite={content.site.twitterSite}
    schemaGraphJson={schemaGraphJson}
    googleSiteVerification={content.site.googleSiteVerification}
    umamiWebsiteId={UMAMI_WEBSITE_ID}
    stylesheetHref={pageAssets.stylesheetHref}
    favicon32Href={pageAssets.favicon32Href}
    favicon16Href={pageAssets.favicon16Href}
    faviconIcoHref={pageAssets.faviconIcoHref}
    appleTouchIconHref={pageAssets.appleTouchIconHref}
    manifestHref={pageAssets.manifestHref}
  />
  <body data-page-id="project" data-sw-path={pageAssets.swPath}>
    <a class={PAGE_LAYOUT.skipLinkClass} href={`#${PAGE_LAYOUT.mainContentId}`}>
      {SKIP_TO_MAIN_LABEL_BY_LANG[lang]}
    </a>
    <div class={PAGE_LAYOUT.siteClass}>
      <ClosePageHeader
        homeHref={homeHref}
        closeLabel={CLOSE_PAGE_LABEL_BY_LANG[lang]}
        title={content.header.siteTitle}
      />
      <main id={PAGE_LAYOUT.mainContentId}>
        <ProjectGroupsSection groups={content.groups} />
      </main>
      <PageFooter
        footerHtml={content.footerHtml}
        lastUpdatedLabel={LAST_UPDATED_LABEL_BY_LANG[lang]}
        timestampIso={buildTimestamp.iso}
        timestampDisplay={buildTimestamp.display}
      />
    </div>
    <BackToTopButton label={BACK_TO_TOP_LABEL_BY_LANG[lang]} />
    {scriptPaths.map((src) => <script is:inline defer src={src} />)}
  </body>
</html>
